.searchInputField{
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.searchContainer{
    position: relative;
}

.searchIcon {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #000092;
}

.searchInputField::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #408cec;
    text-decoration: underline;
  }
.searchInputField::-moz-placeholder .searchInputField { /* Firefox 19+ */
    color: #408cec;
    text-decoration: underline;
  }
.searchInputField:-ms-input-placeholder.searchInputField { /* IE 10+ */
    color: #408cec;
    text-decoration: underline;
  }
  .searchInputField:-moz-placeholder.searchInputField { /* Firefox 18- */
    color: #408cec;
    text-decoration: underline;
  }